.background {
    position: absolute;
    border-radius: 50%;
    z-index: -2;
}

.background:nth-child(2) {

    --color: rgba(115, 142, 209, 0.15);
    
    width: 650px;
    height: 300px;

    background-color: var(--color);
    box-shadow: 0 0 100px 350px var(--color);

    filter: blur(50px);

    top: -40px;
    right: -225px;
}

.background:nth-child(3) {

    --color: rgba(115, 142, 209, 0.30);
    
    width: 500px;
    height: 250px;

    background-color: var(--color);
    box-shadow: 0 0 100px 150px var(--color);

    filter: blur(50px);

    top: 450px;
    right: -230px;
}

.backgroundLines {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
