.testimonies {
    background-image: linear-gradient(rgba(191, 207, 248, 0.40), rgba(191, 207, 248, 0));
    display: flex;
    padding: 100px 0 100px 120px;
    box-sizing: content-box;
}

.testimonies > .container:first-child {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
    padding-right: 100px;
    z-index: 1;
}

.testimonies__title {
    color: #333333;
    font-weight: 600;
    font-size: 4.6rem;
    margin-bottom: 30px;
}

.testimonies__description {
    color: #999999;
    margin-bottom: 30px;
}

.testimonies__swipeCards {

}

.testimonies__count {
    color: #cccccc;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.testimonies__emphasis {
    color: #333333;
    font-size: 5.8rem;
}

.testimonies__swipeCards > .container {
    display: flex;
    gap: 24px;
}

.testimonies__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 16px;
    border: none;
    border-radius: 10px;
    background-color: var(--dark-blue);
}

.testimonies__btn:disabled {
    cursor: initial;
    background-color: var(--light-blue);
}

.testimonies__btn span {
    color: #fff;
    font-size: 2.4rem;
}

/* Swiper */

.testimonies__swiper {
    padding: 40px;
    width: 100%;
}

.testimonies .swiper-pagination {
    color: #575757;
    margin-top: 20px;
}

.testimonies .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
}

/* Card */

.testimonies .card {
    background-color: #fff;
    border-radius: 8px;
    padding: 120px 32px 24px;
    position: relative;
    height: auto;
    width: 270px;
}

.testimonies .card > .container { /* Photo container */
    height: 90px;
    position: absolute;
    top: -40px;
    left: 24px;
    width: 90px;
}

.testimonies .card__photo {
    border-radius: 10px;
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.testimonies .card__name {
    font-size: 2.4rem;
    font-weight: 500;
    color: #2b2b2b;
}

.testimonies .card__label {
    color: #999999;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 8px 0 20px;

}

.testimonies .card__testimony {

}

@media (max-width: 1110px) { /* Tablet Version */

    .testimonies {
        align-items: center;
        flex-direction: column;
        gap: 100px;
        padding: 60px;
    }

    .testimonies > .container {
        flex: 1;
        padding-right: 0 !important;
        text-align: center;

    }

    .testimonies__swipeCards > .container {
        justify-content: center;
    }

    .testimonies__title {
        font-size: 4rem;
    }
}

@media (max-width: 630px) { /* Mobile Version */

    .testimonies {
        padding: 32px 16px;
    }

    .testimonies > .container:first-child {
        min-width: initial;
        max-width: initial;
    }
}

@media (max-width: 430px) { /* Mobile Version */

    .testimonies__title {
        font-size: 3rem;
    }
}